body {
    font-family: georgia, times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 0;
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;
}

p {
    margin-bottom: 1.6em;
}

nav {
  background: #333;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
/*
header {
    background: #333;
    color: white;
    padding: 2rem 0;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
}

    header a {
        color: white;
        text-decoration: none;
    }
*/
.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    letter-spacing: 5px;
    font-size: 1.4em;
}

.menu-icon {
    display: none;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navigation ul li {
        display: inline-block;
    }

        .navigation ul li a {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }

            .navigation ul li a:hover {
                background: #4a4a4a;
            }


main {
    padding-top: 4rem;
}

footer {
    background: #f2f2f2;
    padding: 4rem 0;
    text-align: center;
    margin-top: 300px;
    width: 100%;
    bottom: 0;
}


@media only screen and (max-width: 767px) {

    .menu-icon {
        display: block;
        cursor: pointer;
        /*padding: 0.5rem 1rem;*/
        width: 100px;
    }

    .navigation {
        width: 100%;
        margin-top: 1rem;
    }

        .navigation ul {
            display: none;
        }

            .navigation ul li {
                display: block;
            }

            .navigation ul.show {
                display: block;
            }

                .navigation ul li a {
                    display: block;
                    padding: 0.5rem 0;
                    transition: all 0.4s linear;
                    border-radius: 5px;
                }

                    .navigation ul li a:hover {
                        background: #4a4a4a;
                    }

}

/* Estilos para la página de Log In */

.inicio-main {
  margin-left:20%;
  margin-right:20%;
  margin-top: 75px;
}



/* Estilos para la página de Sign In */

.registro-div {
  margin-top: 75px;
  margin-left:20%;
  margin-right:20%;
}

.div-registro-correcto {
  margin-top:175px;
  margin-left: 30%;
  margin-right: 30%;
  border: 5px solid black;
  border-radius: 8px;
  padding: 10px;
  background: #A1959E;
}


@media only screen and (max-width: 767px) {
  .registro-div{
    margin-top: 35%;
  }
}




/* Pagina de contacto */

.h1-contacto {
  text-align: center;
  color: white;
  margin-bottom: 60px;
}


.div-contacto {
  background: #333;
  margin-top: 75px;
  margin-left: 20%;
  margin-right: 20%;
  border: 5px solid black;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.logo-ins {
  width: 100px;
}


/* Estilos para las entradas en la página de inicio */

.titulo-entrada {
  width: 100%;
  background: #262424;
  color: white;
  padding: 4px;
  border: 5px solid #262424;
  border-radius: 8px;
}

.cuerpo-entrada {
  width: 100%;
  background: grey;
  border: 5px;
  padding: 8px;
}

.dejar-espacio {
  margin-top: 20px;
}

.justificar-texto {
  text-align: justify;
}

.boton-centro {
  text-align: left;
}

/* Estilos para las entradas en su propia página */

.titulo-entrada-v2 {
  width: 100%;
  background: #262424;
  color: white;
  padding: 10px;
  border: 5px solid #262424;
  text-align: left;
}

.fondo-entrada {
  background: #606773;
  width: 70%;
  margin-top: 300px;
}

.dejar-espacio-entrada {
  margin-top: 75px;
}

.entrada-usuario {
  text-align: left;
  background: #262424;
  color: white;
  padding: 10px;
  padding-top: 10px;
}

.cuerpo-entrada-v2 {
  width: 100%;
  background: #262424;
  color: white;
  border: 5px;
  padding: 10px;
  padding-top: 35px;
}

.entrada-fecha {
  text-align: left;
  background: #262424;
  color: white;
  padding: 10px;
  padding-top: 10px;
}

.nuevo-comentario {
  margin-top: 40px;
  margin-bottom: 40px;
}

.nuevo-titulo-comentario {
  text-align: center;
}

/* Estilos para los comentarios de las entradas */

.titulo-entrada-comentarios {
  width: 100%;
  background: #262424;
  color: white;
  padding: 4px;
  margin-top: 30px;
  border: 5px solid #262424;
  border-radius: 8px;
}


/* Estilos para el perfil */

.barra-perfil {
  margin-top:75px;
}

.elementos-barra {
  text-decoration: none;
}

.sidebar {
  background: #262424;
  padding: 8px;
}

.botones-color {
  color: white;
}

a {
  text-decoration: none;
}

/* Estilos para los gestores */

#gg-entradas {
  background: deepskyblue;
}

#gg-comentarios {
  background: #029ac4;
}

#gg-favoritos {
  background: #394a66;
}

.gg-elemento {
  color: white;
}

.gg-elemento:hover {
  background: #2b2b2b !important;
  color:deepskyblue;
  transition: all 0.2s linear;
}


/* Estilos para las entradas favoritas */

.no-mensajes-favoritos {
  margin-top: 200px;
  margin-left: 20%;
}


/* Estilos para la pagina de nueva entrada */

.panel {
  background: #333;
  margin-left: 0%;
  margin-right: 30%;
  padding: 25px;
  border: 5px solid black;
  border-radius: 8px;

}

.texto-panel {
  margin-top: 100px;
  font-size: 40px;
  text-align: center;
}
